@model PoultryVersion.Models.TblDisease

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Disease</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiseaseName" class="control-label"></label>
                <input asp-for="DiseaseName" class="form-control" />
                <span asp-validation-for="DiseaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveNumber" class="control-label"></label>
                <input asp-for="EffectiveNumber" class="form-control" />
                <span asp-validation-for="EffectiveNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfDead" class="control-label"></label>
                <input asp-for="NoOfDead" class="form-control" />
                <span asp-validation-for="NoOfDead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoultryId" class="control-label"></label>
                <select asp-for="PoultryId" class ="form-control" asp-items="ViewBag.PoultryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
